<h1>Pages#games</h1>
<p>Find me in app/views/pages/games.html.erb</p>
<%= form_tag '/comments', method: 'post' do %>
<imput type="text" name="Nom"/>
<imput type="textarea" name="Commentaires"/>
<imput type="submit" value="Valider"
<% end %>
